# Core
requests>=2.31.0

# Netmiko
netmiko>=4.3.0

# Napalm
napalm>=5.0.0

# Ansible + Netbox collection dependencies
pynetbox>=7.3.0

# Ansible SSH (required for network_cli connection)
ansible-pylibssh>=1.1.0

# Ansible — install separately:
# pip install ansible
# ansible-galaxy collection install -r ansible/requirements.yml
scrapli>=2024.1.30
scrapli-community>=2024.1.30
nornir-scrapli>=2024.1.30
ncclient>=0.6.15
